{% extends 'base.html.twig' %}

{% block title %}Arcadia Zoo
{% endblock %}

{% block body %}
	<div class="container mt-2">
		<h1>Bienvenue sur Arcadia Zoo</h1>
		<button type="button" class="btn btn-secondary">Valider</button>
	</div>
{% endblock %}
