/* assets/styles/app.scss */
$white: #FFF;
$red: #fc030b;
$primary: #088A29;
$secondary: #0B6121;
$dark: #0B3B17;
$blue: #08088A;

$font-family: "Radio Canada Big", sans-serif !default;
$font-optical-sizing: auto;
$font-weight: weight;
$font-style: normal;

$font-family: "Roboto", sans-serif !default;
$font-weight: 400;
$font-style: normal;




body {
    background: $white;
}

.btn {
    background-color: $dark;
    color: $white;
}

nav,
.navbar-brand,
.nav-link {
    background-color: $primary;
    color: $white;
}